h1{
    text-align: center;

}
.c1,
.c4,
.c9,
.c10,
.c13,
.c15
{
    font-style: italic;
}
.c5,
.c11,
.c15{
 font-weight: bold ;
}

.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c10,
.c12,
.c14 {
    text-decoration: rgb(231, 6, 51) !important;
}

